doctype html
html(lang='ru-UA')
    head
        meta(charset='UTF-8')
        title ⭐️ Шторы в бордовых тонах с волнистым рисунком | Купить в Украине и Киеве по лучшей цене от Drapesdesign
        link(rel="canonical" href="https://www.drapesdesign.com.ua/shop/brown-geometry-drapes")
        link(rel="alternate" hreflang="ru" href="https://www.drapesdesign.com.ua/shop/red-waves-drapes")
        meta(name='robots', content='index, follow')
        meta(name='description', content='🔹 Купить готовые Шторы в бордовых тонах с волнистым рисунком в магазине Drapesdesign 🔹 Акционная цена 1300грн 🔹 Постоянные акции и скидки за 2-е и 3-е окно - индивидуальный пошив')
        meta(name='keywords', content='Шторы в бордовых тонах с волнистым рисунком')
        meta(property='og:type', content='product')
        meta(property='og:locale', content='ru-UA')
        meta(property='og:title', content='Шторы в бордовых тонах с волнистым рисунком для кухни, спальни, гостинной')
        meta(property='og:description', content='🔹 Купить готовые Шторы в бордовых тонах с волнистым рисунком в магазине Drapesdesign 🔹 Акционная цена 1300грн 🔹 Постоянные акции и скидки за 2-е и 3-е окно - индивидуальный пошив')
        meta(property='og:url', content='https://www.drapesdesign.com.ua/shop/red-waves-drapes')
        meta(property='og:site_name', content='drapesdesign.com.ua')
        meta(property='og:image', content='https://drapesdesign.com.ua/images/share/red-waves-drapes.jpg')
        meta(property='product:price:amount', content='1300.00')
        meta(property='product:price:currency', content='UAH')
        meta(property='product:availability', content='in stock')
        meta(property='product:condition', content='new')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        
        link(rel='icon', type='image/x-icon', href='https://www.drapesdesign.com.ua/images/fav.png')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=cyrillic', rel='stylesheet')
        link(rel='stylesheet', href='../../styles/libs/swiper.css')
        link(rel='stylesheet', href='../../styles/styles.css')
    body#body
        .l-wrapper.d-shop
            include ../../components/topbar
            include ../../components/header
            include ../../components/modal
            include ../../components/banner
            include ../../components/breadcrumbs
            include ../../components/product
            +modal('Сделать заказ', 'Оставьте контактные данные и мы свяжемся с Вами в ближайшее время для для выяснения деталей заказа', 'Отправить')
            main
                +banner('У нас действуют постоянные скидки: -20% на второе окно и -30% на третье при пошиве штор на заказ. ', '#')
                +breadcrumbs('Магазин', 'Шторы в бордовых тонах с волнистым рисунком')
                .d-section
                    +product('red-waves-drapes')
            include ../../components/footer

        a.d-button.d-button--toTop.nav-link.scrollTop(href='#body')
            span
                i.fas.fa-chevron-up
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://kit.fontawesome.com/6d0f4a8850.js', crossorigin='anonymous')
        script(src='../../js/script.js')
        script(src='../../js/libs/swiper-min.js')
        script(src='../../js/shop-slider-min.js')
        script.
