.d-banner {
  margin-bottom: 20px;
  display: block;

  &__content {
    background: #ffe8e8;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
  }

  &__link {
    text-decoration: underline;
  }
}
