:root {
  --dd-color-white: #fff;
  --dd-primary-color: #f69581;
  --dd-primary-hover-color: #e98775;
  --dd-secondary-color: #333333;
  --dd-font-color: var(--dd-secondary-color);
  --dd-font-color-light: #fff9f6;
  --dd-link-color: var(--dd-primary-color);
  --dd-border-color: #eeeeee;
  --dd-color-error: #e74c3c;
  --dd-color-success: #28a745;
  --dd-base-border: 1px solid var(--dd-border-color);
  --dd-base-border-radius: 3px;
  --dd-font-family: 'Montserrat', Arial, sans-serif;
  --dd-base-width: 1280px;
  --dd-base-padding: 20px;
}

@mixin transition {
  transition: all 0.3s ease-out;
}

@mixin phones {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin phones-excluded {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablets {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin laptops-sm {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin not-touch-devices {
  @media (hover: hover) {
    @content;
  }
}

@mixin touch-devices {
  @media (hover: none) and (pointer: coarse){
    @content;
  }
}

.hide {
  display: none;
}

.hide-xs {
  @include phones {
    display: none;
  }
}

.show-xs {
  @include phones {
    display: block;
  }
}

* {
  box-sizing: border-box;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: var(--dd-font-family);
  color: var(--dd-font-color);
  font-weight: 400;
  width: 100%;
  overflow-x: auto;
  line-height: 1.2;
  -webkit-overflow-scrolling: touch;

  &.is-modal-open {
    overflow: hidden;
  }
}

.l-wrapper {
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: var(--dd-font-color);
  text-decoration: none;

  &:hover {
    color: currentColor;
    text-decoration: none;
    @include transition;
  }
}

button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input, textarea {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
  border-color: var(--dd-color-error);
  box-shadow: 0 0 5px rgba(231, 76, 60, 0.6);
}

::-webkit-input-placeholder  { /* Edge */
  font-size: 1.5em;
  color: var(--dd-font-color);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 1em;
  color: var(--dd-font-color);
}

::placeholder {
  font-size: 1em;
  color: var(--dd-font-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

dt, dd {
  margin: 0;
}

footer {
  margin-top: auto;
}

.d-row {
  width: 100%;
  border-bottom: var(--dd-base-border);
  background-color: var(--dd-font-color-light);

  &__content {
    display: flex;
    justify-content: space-between;
    height: 40px;
    max-width: var(--dd-base-width);
    padding: 0 var(--dd-base-padding);
    margin: auto;
  }
}

.d-link {
  color: var(--dd-primary-color);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: var(--dd-primary-color);
  }
}

.d-copyright {
  padding: 0.75rem;
  background-color: var(--dd-font-color);
  color: var(--dd-color-white);
  font-size: 0.875rem;
  text-align: center;
}

.d-stub-green {
  color: #21973c;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.d-stub-red {
  color: #e94655;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.d-badge {

  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 7px;
  font-weight: bold;
  z-index: 5;
  color: var(--dd-color-white);
  border-bottom-right-radius: 5px;

  &--sale {
    background: var(--dd-color-error);
  }

  &--new {
    background: var(--dd-color-success);
  }
}

.cocoen-drag {
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  text-align: center;
  line-height: 1;
  font-weight: 600;
  background-color: var(--dd-primary-color);

  &:before {
    content: "\f337";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: -18px;
    margin-top: -18px;
    font-size: 20px;
    line-height: 30px;
    color: var(--dd-color-white);
    background-color: var(--dd-primary-color);
    border-color: var(--dd-primary-color);
  }
}
