:root {
  --dd-button-primary-color: var(--dd-primary-color);
  --dd-button-secondary-color: #feeae3;
}
.d-button {
  border: none;
  display: inline-block;
  position: relative;
  padding: 15px var(--dd-base-padding);
  text-transform: uppercase;
  font-size: 0.938em;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 2px;
  @include transition;
  cursor: pointer;

  &--toTop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    width: 3.438em;
    height: 3.438em;
    font-size: 1rem;
    padding: 0.313em;
    border: 1px solid var(--dd-button-primary-color);

    &:hover {
      --dd-button-primary-color: #ee7258;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      border-radius: 2px;
      background-color: var(--dd-button-primary-color);
      color: var(--dd-color-white);
      @include transition;
    }

    i.fas {
      font-size: 1.375em;
    }
  }

  &--bordered {
    min-width: 200px;
    padding: 0.313em;
    border: 1px solid var(--dd-button-secondary-color);

    span {
      display: inline-block;
      width: 100%;
      padding: var(--dd-base-padding);
      border-radius: 2px;
      background-color: var(--dd-button-secondary-color);
      font-size: 0.813em;
      line-height: 1;
    }

    &:hover {
      border-color: var(--dd-button-primary-color);

      span {
        background: var(--dd-button-primary-color);
      }
    }
  }

  &--inversed {
    border: 2px solid var(--dd-button-primary-color);
    color: var(--dd-button-primary-color);

    &:hover {
      background-color: var(--dd-button-primary-color);
      color: var(--dd-color-white);
    }
  }

  &--primary {
    background-color: var(--dd-button-primary-color);
    color: var(--dd-color-white);
    border: 2px solid transparent;

    &:hover {
      color: var(--dd-button-primary-color);
      background-color: var(--dd-color-white);
      border-color:  var(--dd-button-primary-color);
    }
  }

  &--small {
    padding: 10px 15px;
    font-size: 13px;
  }

  &--md {
    padding: 15px 40px;
    font-size: 16px;
  }

  &--lg {
    font-size: 18px;
    padding: 15px 35px;
  }

  &--icon {
    text-transform: capitalize;

    i {
      margin-right: 10px;
    }
  }
}
