.d-contacts {
  display: flex;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 30px var(--dd-base-padding);

  form {
    max-width: 500px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }

  @include phones {
    flex-direction: column-reverse;
    padding: 0;
  }

  &__col {
    flex: 50% 0 0;

    &--socials {
      flex: 40%;
      text-align: center;

      @include phones {
        text-align: left;
        margin-bottom: 1rem;
      }
    }

    &--map {
      flex: 60%;
    }

    @include phones {
      flex: 100% 0 0;
    }
  }

  &__note {
    margin-bottom: 40px;
    font-size: 14px;
  }

  &__button {
    font-weight: 400;
    width: 100%;

    &:hover {
      background-color: var(--dd-primary-hover-color);
      color: var(--dd-color-white);
      border-color: var(--dd-primary-hover-color);
    }
  }

  &__block {
    text-align: left;
    padding: 20px 50px 0;

    @include phones {
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
  }

  &__list {
    font-size: 18px;
    line-height: 1.5;

    a {
      color: currentColor;
    }

    &Item {
      white-space: nowrap;
      word-wrap: break-word;

      & + & {
        margin-top: 1em;
      }
    }

    .fas, .far {
      margin-right: 8px;
      width: 18px;
      text-align: center;
    }
  }

  .d-socials {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.75rem;
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 1em;
  }

  &__input, &__textarea {
    width: 100%;
    font-family: var(--dd-font-family);
    font-size: 1em;
    font-weight: 400;
    color: var(--dd-font-color);
    border: var(--dd-base-border);
    background-color: var(--dd-color-white);
  }

  &__textarea {
    padding: var(--dd-base-padding);
  }

  &__input {
    padding: 0 var(--dd-base-padding);
    height: 45px;
  }

  &__status {
    display: none;
    text-align: center;

    &Text {
      font-size: 18px;
      margin-bottom: 2em;
      line-height: 1.5;
      font-weight: 600;
    }
  }
}

