.d-contacts {
  display: flex;
  max-width: 1000px;
  margin: 30px auto;

  @include phones {
    flex-direction: column-reverse;
  }

  &__col {
    flex: 1;

    &--socials {
      text-align: center;

      @include phones {
        text-align: left;
        margin-bottom: 1rem;
      }
    }
  }

  &__block {
    display: inline-block;
    text-align: left;
    padding: 0 1rem;

    @include phones {
      width: 100%;
      padding: 0;
    }
  }

  &__list {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #5c5c5c;

    a {
      color: currentColor;
    }

    &Item {
      white-space: nowrap;
      word-wrap: break-word;

      & + & {
        margin-top: 1em;
      }
    }
  }

  .d-socials {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.75rem;
  }

  &__label {
    display: block;
    width: 100%;
    min-width: 300px;
    margin-bottom: 1em;
  }
  &__input, textarea {
    width: 100%;
    padding: 0 var(--dd-base-padding);
    font-family: var(--dd-font-family);
    font-size: 1em;
    font-weight: 400;
    color: var(--dd-font-color);
    border: var(--dd-base-border);

    //input:invalid:active {
    //  border-color: #dc3545;
    //}
  }

  textarea {
    padding: var(--dd-base-padding);
  }

  &__input {
    padding: 0 var(--dd-base-padding);
    height: 45px;
  }

  &__status {
    display: none;
    text-align: center;

    &Text {
      font-size: 18px;
      margin-bottom: 2em;
      line-height: 1.5;
      font-weight: 300;
    }
  }
}


::-webkit-input-placeholder  { /* Edge */
  font-size: 1.5em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 1em;
}

::placeholder {
  font-size: 1em;
}
