.d-section {
  display: flex;
  flex-direction: column;
  padding: 30px var(--dd-base-padding);
  border-top: var(--dd-base-border);

  &__content {
    position: relative;
    min-height: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 600px;
    padding: 16px 24px;
    border: 1px solid var(--dd-color-white);
    border-radius: var(--dd-base-border-radius);
    @include transition;

    &:hover {
      background-color: rgba(50, 40, 60, 0.3);
    }

    &--left {
      @include phones-excluded {
        align-items: flex-end;
        text-align: right;
        margin-left: auto;
      }
    }

    &--right {
      @include phones-excluded {
        text-align: left;
        align-items: flex-start;
      }
    }

    &--left,
    &--right {
      @include phones {
        align-items: center;
        text-align: center;
        padding: 16px;
      }
    }

  }

  &__info {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
    text-transform: uppercase;

    @include phones {
      font-size: 16px;
    }
  }

  &--hero {
    position: relative;
    justify-content: center;
    min-height: calc(100vh - 152px - 41px);
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--dd-font-color-light);

    @include phones {
      min-height: calc(100vh - 60px);
      background-attachment: initial;
      padding: 0;
    }
  }

  &--main {
    background-image: url('../images/drapesdesign-bg.jpg');

    .d-section {
      &__title {
        font-size: 28px;
        font-weight: 400;
        text-transform: unset;

        @include phones {
          font-size: 22px;
        }
      }

      &__subtitle {
        max-width: 800px;
        font-size: 30px;
        font-weight: 500;

        @include phones {
          font-size: 22px;
        }
      }

      &__col {
        @include phones {
          padding: 10px;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 10px 30px;
        height: 100%;
        background-color: rgba(50, 40, 60, 0.6);

        @include phones {
          padding: 20px;
        }
      }
    }
  }

  &--portfolio {
    text-align: left;
    background-image: url('../images/drapesdesign-portfolio-bg.jpg');

    &:before {
      display: none;
    }

    .d-section {
      &__content {
        padding: 30px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(41, 56, 41, 0.6);

        @include phones {
          padding: 10px 0;
        }
      }

      &__row, &__title {
        margin-top: auto;
      }

      &__col {
        max-width: 500px;
      }
    }
  }

  &--shop {
    text-align: left;
    background-image: url('../images/drapesdesign-shop-bg.jpg');

    &:before {
      display: none;
    }

    .d-section {
      &__content {
        padding: 30px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(50, 40, 60, 0.6);

        @include phones {
          padding: 10px 0;
        }
      }

      &__row, &__title {
        margin-top: auto;
      }

      &__col {
        max-width: 500px;
      }
    }
  }

  &--small {
    background-image: url('../images/drapesdesign-contact-bg.jpg');
    padding: 0;
    height: 400px;
    background-attachment: scroll;
    background-position: right center;

    @include phones {
      background-position: 75% center;
    }

    .d-section {
      &__content {
        background-color: rgba(0,0,0,0.2);
      }
    }

    .d-contacts {
      align-items: center;

      @include phones {
        padding: 30px var(--dd-base-padding);
      }
    }
  }

  &__arrowBtn {
    margin: 0 auto;
    padding: 10px 20px;
    color: var(--dd-color-white);

    i {
      font-size: 22px;
    }
  }

  &__description {
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 400;
    max-width: 600px;
  }

  &__row {
    display: flex;
    justify-content: space-around;

    @include phones {
      flex-direction: column;
    }
  }

  &__col, &__description {
    flex: 50%;
    padding: 20px;
  }

  &--shipping {
    .d-section {

      &__subtitle {
        text-align: left;
      }
    }
  }

  &__list {
    max-width: 1000px;
    margin: auto;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;

    @include phones {
      font-size: 1rem;
    }

    li {
      margin-bottom: 0.5em;

      &:before {
        content: '\2713';
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        color: var(--dd-primary-color);
      }
    }
  }

  &__title {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: var(--dd-base-padding) 0;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100px;
      bottom: 3px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--dd-primary-color);
    }

    &--hero {
      margin: 3rem auto;
      padding: 0;
      font-weight: 400;
      text-shadow: 0 0 20px #251a10;

      @include phones {
        margin: 1.5rem auto;
      }

      &:after {
        display: none;
      }
    }

    @include phones {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    max-width: 1000px;
    font-weight: 300;
    margin: 0 auto;
    padding: var(--dd-base-padding) 0;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5;

    &--hero {
      padding: 0;
      font-size: 1.375rem;
      text-shadow: 0 0 15px #251a10;
    }

    @include phones {
      font-size: 1rem;
    }
  }

  &__buttons {
    margin: 30px 0 30px -1em;

    .d-button {
      min-width: 250px;
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }

  &__map {
    width: 100%;
    height: 100%;

    div {
      height: 100%;
    }
  }

  &__compare {
    max-width: 1000px;
    margin: auto;
  }
}
