doctype html
html(lang='ru-UA')
    head
        meta(charset='UTF-8')
        title️ Оплата и доставка - Drapesdesign: Дизайн и пошив штор в Украине
        link(rel="canonical" href="https://www.drapesdesign.com.ua/payments-shipping/")
        link(rel="alternate" hreflang="ru" href="https://www.drapesdesign.com.ua/payments-shipping/")
        meta(name='robots', content='index, follow')
        meta(name='description', content='Оплата в компании Drapesdesign осуществляется 2-мя способами: предоплата банковскую карту и наложенным платежом при получении в отделении транспортной компании. Доставка готовых изделий Drapesdesign осуществляется по Новой почте по всей Украине в течении 1-3 дней')
        meta(name='keywords', content='шторы Киев, пошив штор, дизайн штор, купить шторы, шоры на заказ, шторы под заказ, шторы для спальни, шторы для кухни, шторы для гостинной, шторы для ванной')
        meta(property='og:type', content='website')
        meta(property='og:locale', content='ru-UA')
        meta(property='og:title', content='Оплата и доставка - Drapesdesign: Дизайн и пошив штор в Украине')
        meta(property='og:description', content='Оплата в компании Drapesdesign осуществляется 2-мя способами: предоплата банковскую карту и наложенным платежом при получении в отделении транспортной компании. Доставка готовых изделий Drapesdesign осуществляется по Новой почте по всей Украине в течении 1-3 дней')
        meta(property='og:url', content='https://www.drapesdesign.com.ua/payments-shipping/')
        meta(property='og:site_name', content='drapesdesign.com.ua')
        meta(property='og:image', content='https://drapesdesign.com.ua/images/drapesdesign_share.jpg')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='icon', type='image/x-icon', href='https://www.drapesdesign.com.ua/images/fav.png')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=cyrillic', rel='stylesheet')
        link(rel='stylesheet', href='../styles/styles.css')
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-SG2Q10TWVD')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-SG2Q10TWVD');
        // Facebook Pixel Code
        script.
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1259970147710795');
            fbq('track', 'PageView');
        noscript
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1259970147710795&ev=PageView&noscript=1')
        // End Facebook Pixel Code
    body#body
        .l-wrapper.d-payments-shipping
            include ../components/topbar
            include ../components/header
            +header('')
            main
                section.d-section
                    include ../components/breadcrumbs
                    +breadcrumbs('Оплата и доставка')
                    .d-section__content
                        h2.d-section__subtitle.d-section__subtitle--left
                            b Оплата
                            |  в компании Drapesdesign осуществляется 2-мя способами:
                        ul.d-section__list
                            li Предоплата банковскую карту.
                            li Наложенным платежом при получении в отделении «Новой почты».
                        h2.d-section__subtitle.d-section__subtitle--left
                            b Доставка
                            |  готовых изделий Drapesdesign осуществляется посредством транспортной компании «Новая почта» по всей Украине в течении 1-3 дней.
        include ../components/footer
        include ../components/scroll-top
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://kit.fontawesome.com/6d0f4a8850.js', crossorigin='anonymous')
        script(src="//code.jivosite.com/widget/3Nay3paAEO" async)
        script(src='../js/script-min.js')
        script.
