doctype html
html(lang='ru-UA')
    head
        meta(charset='UTF-8')
        title Шторы под заказ и готовые в Киеве с доставкой по Украине
        link(rel="canonical" href="https://www.drapesdesign.com.ua")
        link(rel="canonical" href="https://www.drapesdesign.com.ua")
        link(rel="alternate" hreflang="ru" href="https://www.drapesdesign.com.ua")
        meta(name='robots', content='index, follow')
        meta(name='description', content='Купить готовые шторы в интернет-магазине Drapesdesign | Заказать индивидуальный пошив по авторскому дизайну | Постоянные акции и скидки за 2-е и 3-е окно ☎ (093)917-20-79')
        meta(name='keywords', content='шторы Киев, пошив штор, дизайн штор, купить шторы, шоры на заказ, шторы под заказ, шторы для спальни, шторы для кухни, шторы для гостинной, шторы для ванной')
        meta(property='og:type', content='website')
        meta(property='og:locale', content='ru-UA')
        meta(property='og:title', content='Шторы под заказ и готовые в Киеве с доставкой по Украине')
        meta(property='og:description', content='Купить готовые шторы в интернет-магазине Drapesdesign | Заказать индивидуальный пошив по авторскому дизайну | Постоянные акции и скидки за 2-е и 3-е окно ☎ (093)917-20-79')
        meta(property='og:url', content='https://www.drapesdesign.com.ua')
        meta(property='og:site_name', content='drapesdesign.com.ua')
        meta(property='og:image', content='https://drapesdesign.com.ua/images/drapesdesign_share.jpg')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', type='image/x-icon', href='https://www.drapesdesign.com.ua/images/fav.png')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=cyrillic', rel='stylesheet', media="print", onload="this.media='all'")
        link(rel='stylesheet', href='styles/libs/cocoen.css')
        link(rel='stylesheet', href='styles/libs/swiper.css')
        link(rel='stylesheet', href='styles/styles.css')
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-SG2Q10TWVD')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-SG2Q10TWVD');
        // Facebook Pixel Code
        script.
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1259970147710795');
            fbq('track', 'PageView');
        noscript
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1259970147710795&ev=PageView&noscript=1')
        // End Facebook Pixel Code
    body#body
        .l-wrapper
            include components/topbar
            include components/header
            +header('')
            main
                section#hero.d-section.d-section--hero.d-section--main
                    .d-section__content
                        .d-section__title Квартира выглядит пусто?
                        h1.d-section__subtitle Авторские шторы в Украине от Drapesdesign помогут решить эту проблему!
                        .d-section__row
                            .d-section__col
                                .d-section__card.d-section__card--left
                                    h2.d-section__info Разработка индивидуального дизайна и пошив штор на заказ за 3 дня
                                    a.d-button.d-button--bordered(href='https://www.drapesdesign.com.ua/portfolio/')
                                        span Наши работы
                            .d-section__col
                                .d-section__card.d-section__card--right
                                    h2.d-section__info Продажа готовых изделий для экономии Вашего времени и энергии
                                    a.d-button.d-button--bordered(href='https://www.drapesdesign.com.ua/shop/')
                                        span Магазин штор

                        a.d-section__arrowBtn(href="#about-us")
                            i.fas.fa-arrow-down.animated.bounceDown.infinite
                section#about-us.d-section
                    .d-section__content
                        h2.d-section__title Почему выбирают наши шторы
                        h3.d-section__subtitle
                            p
                                | Drapesdesign - новое оригинальное направление в декоре окон. Индивидуальность - наше кредо, которое мы воплощаем в каждом продукте.
                                //| Дизайнерские шторы от Drapesdesign состоят из отдельных полосок, которые можно двигать и менять местами, если хочется чего-то нового, не тратя много усилий. Все элементы гардин подбираются под цвет и стиль общего интерьера комнаты или квартиры индивидуально.
                            //p
                            //    | Мы подбираем самые разные материалы, что делает продукт доступным для всех. Изюминкой таких авторских гардин есть элементы декора, которые гармонично соединяются с основными цветами.
                            //p
                            //    | Окружите себя красотой и уютом, а мы позаботимся о том, чтобы это было доступно и качественно!

                        include components/features
                section#before-after.d-section
                    .d-section__content
                        h2.d-section__title Убедитесь в качестве нашей работы
                        h3.d-section__subtitle
                            | Пример комнаты до изменений (слева) и после (справа).
                            |&nbsp;
                            a.d-link(href='https://www.drapesdesign.com.ua/portfolio/' target='_blank') Больше работ...
                        .d-section__compare.cocoen
                            img(src="images/compare/drapes-before.jpg" alt="Image of drapes after changes")
                            img(src="images/compare/drapes-after.jpg" alt="Image of drapes after changes")
                section#how-it-works.d-section
                    .d-section__content
                        h2.d-section__title Как мы работаем
                        include components/how-it-works
                section#testimonials.d-section
                    .d-section__content
                        h2.d-section__title Отзывы наших клиентов
                        include components/testimonials
                section#contact-form.d-section.d-section--small
                    .d-section__content
                        .d-contacts
                            .d-contacts__col
                                h3.d-contacts__title Получить бесплатную консультацию
                                include components/contact-form
                                +contact-form('Отправить', true)
                section#faq.d-section
                    h2.d-section__title Часто задаваемые вопросы
                    include components/faq
                section#contacts.d-section
                    .d-section__content
                        h2.d-section__title Контакты
                        .d-contacts
                            .d-contacts__col.d-contacts__col--map
                                include components/map
                            .d-contacts__col.d-contacts__col--socials
                                .d-contacts__block
                                    ul.d-contacts__list
                                        li.d-contacts__listItem
                                            a.d-contacts__listItemLink(href='mailto:mydrapesdesign@gmail.com')
                                                i.fas.fa-envelope
                                                span mydrapesdesign@gmail.com
                                        li.d-contacts__listItem
                                            i.fas.fa-mobile-alt
                                            a(href='tel:0939172079') 093 917 20 79
                                        li.d-contacts__listItem
                                            i.fas.fa-mobile-alt
                                            a(href='tel:0967174810') 096 717 48 10
                                        li.d-contacts__listItem
                                            i.far.fa-clock
                                            | График работы:
                                            br
                                            | пн - вс с 10:00 до 20:00
                                    .d-socials.d-socials--left
                                        ul.d-socials__list
                                            li.d-socials__listItem.d-socials__listItem--fb
                                                a.d-socials__listItemLink(href='https://www.facebook.com/drapesdesigns/', target='_blank', rel='nofollow')
                                                    i.fab.fa-facebook
                                            li.d-socials__listItem.d-socials__listItem--in
                                                a.d-socials__listItemLink(href='https://www.instagram.com/drapesdesigns/', target='_blank', rel='nofollow')
                                                    i.fab.fa-instagram
        include components/footer
        include components/side-nav
        include components/scroll-top
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://kit.fontawesome.com/6d0f4a8850.js', crossorigin='anonymous')
        script(src="//code.jivosite.com/widget/3Nay3paAEO" async)
        script(src="js/cocoen-min.js" async)
        script(src='js/libs/swiper-min.js')
        script(src='js/script-min.js')
        script.
            var mySwiper = new Swiper('.swiper-container', {
                keyboard: {
                    enabled: true,
                    onlyInViewport: false,
                },
                spaceBetween: 10,
                centeredSlides: true,
                breakpoints: {
                    480: {
                        slidesPerView: 1,
                    },
                    768: {
                        slidesPerView: 2,
                    },
                    1024: {
                        slidesPerView: 3,
                    }
                },
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });

