.d-faq.js-faqs
    ul.d-faq__list
        li.d-faq__listItem.js-faq
            .d-faq__question
                i.fas.fa-chevron-right.d-faq__questionIcon
                h5.d-faq__questionText Можно сделать заказ, если я живу за пределами Киева?
            .d-faq__answer.js-faq-answer Да, конечно. Для этого необходимо позвонить нам, выяснить все детали, касающиеся модели гардин, передать необходимые размеры и получить готовое изделие средствами согласованной службы доставки.
        li.d-faq__listItem.js-faq
            .d-faq__question
                i.fas.fa-chevron-right.d-faq__questionIcon
                h5.d-faq__questionText Можно ли использовать старые занавески или свои такани для изготовления новых моделей?
            .d-faq__answer.js-faq-answer Не вопрос. Вам нужно выслать фото вашего материала с чётким изображением для определения рисунка, чтобы скомбинировать его с другим. Это позволит сэкономить ещё и ваши деньги.
        li.d-faq__listItem.js-faq
            .d-faq__question
                i.fas.fa-chevron-right.d-faq__questionIcon
                h5.d-faq__questionText Как самостоятельно померять окно для быстрого оформления заказа?
            .d-faq__answer.js-faq-answer Для заказа необходимо сделать такие замеры:
                br
                | - длину карниза;
                br
                | - высоту гардин, которую определяем как расстояние от крючков карниза до пола или короче (по вашему желанию);
                br
                | - расстояние от крючков карниза до подоконника (в зависимости от дизайна модели);
                br
                | - ширину оконного проёма.
        li.d-faq__listItem.js-faq
            .d-faq__question
                i.fas.fa-chevron-right.d-faq__questionIcon
                h5.d-faq__questionText Как подобрать материал для разного типа комнат?
            .d-faq__answer.js-faq-answer Это зависит от того, сколько света в комнате вы предпочтете оставить... Например для кухни мы рекомендуем использовать гардины из легких материалов (шифон, органза, кристалон), которые будут одновременно пропускать свет и украшать окно. Для спальни и гостинной лучше использовать шторы в пол с более плотных материалов с возможностью закрытия окна от улицы и солнечных лучей.
        li.d-faq__listItem.js-faq
            .d-faq__question
                i.fas.fa-chevron-right.d-faq__questionIcon
                h5.d-faq__questionText Нужен ли какой-то особый уход за шторами от Drapesdesign?
            .d-faq__answer.js-faq-answer Что касается полосок, то их можно стирать в машинке в деликатном режиме, но обязательно в сеточке, чтобы сохранить их форму. А за декорациями уход очень простой. От пыли их можно очистить сухой либо влажной салфеткой, щёткой или метёлкой для удаления пыли. Плотные тканевые шторы стираются в стиральной машинке в обычном режиме.
        li.d-faq__listItem.js-faq
            .d-faq__question
                i.fas.fa-chevron-right.d-faq__questionIcon
                h5.d-faq__questionText Можно ли дизайн ваших моделей сочетать с обыкновенными шторами из плотной ткани?
            .d-faq__answer.js-faq-answer Конечно. Если карниз многорядный, основную конструкцию навешиваем на задний план, а шторы - на первый ряд, где они очень гармонично сочетаются и могут свободно сдвигаться или раздвигаться в случае необходимости.
