mixin header(staticClass)
    header.d-header(class=staticClass)
        nav.d-header__nav.d-header__nav--mobile.slideOutLeft.faster
            ul.d-header__navList
                li.d-header__navListItem
                    a.d-header__navLink(href='https://www.drapesdesign.com.ua') Главная
                li.d-header__navListItem
                    a.d-header__navLink(href='https://www.drapesdesign.com.ua/shop') Магазин
                li.d-header__navListItem
                    a.d-header__navLink(href='https://www.drapesdesign.com.ua/portfolio') Портфолио
                li.d-header__navListItem
                    a.d-header__navLink(href='https://www.drapesdesign.com.ua/payments-shipping') Оплата и доставка
                li.d-header__navListItem
                    a.d-header__navLink(href='https://www.drapesdesign.com.ua/news') Новости
            ul.d-header__contacts
                li.d-header__contactsItem
                    a.d-header__contactsItemLink(href='mailto:mydrapesdesign@gmail.com')
                        i.fas.fa-envelope
                        span mydrapesdesign@gmail.com
                li.d-header__contactsItem
                    i.fas.fa-mobile-alt
                    a(href='tel:0939172079') 093 917 20 79
                    span.d-header__contactsDivider
                    a(href='tel:0967174810') 096 717 48 10
            .d-socials
                ul.d-socials__list
                    li.d-socials__listItem.d-socials__listItem--fb
                        a.d-socials__listItemLink(href='https://www.facebook.com/drapesdesigns/', target='_blank', rel='nofollow')
                            i.fab.fa-facebook
                    li.d-socials__listItem.d-socials__listItem--in
                        a.d-socials__listItemLink(href='https://www.instagram.com/drapesdesigns/', target='_blank', rel='nofollow')
                            i.fab.fa-instagram
        button.d-header__menuButton.js-menu-btn
            span
            span
            span
        .d-header__content
            a.d-header__logo.d-header__logo--static(href='https://www.drapesdesign.com.ua/')
                img.d-header__logoImg(src='https://www.drapesdesign.com.ua/images/logo.svg', alt='drapesdesign')
            nav.d-header__nav.hide-xs
                .d-header__navContainer
                    a.d-header__logo.d-header__logo--fixed.animated.fadeInUp.faster(href='https://www.drapesdesign.com.ua/')
                        img.d-header__logoImg(src='https://www.drapesdesign.com.ua/images/logo.svg', alt='Logo image Drapesdesign')
                    ul.d-header__navList
                        li.d-header__navListItem
                            a.d-header__navLink(href='https://www.drapesdesign.com.ua') Главная
                        li.d-header__navListItem
                            a.d-header__navLink(href='https://www.drapesdesign.com.ua/shop') Магазин
                        li.d-header__navListItem
                            a.d-header__navLink(href='https://www.drapesdesign.com.ua/portfolio/') Портфолио
                        li.d-header__navListItem
                            a.d-header__navLink(href='https://www.drapesdesign.com.ua/payments-shipping') Оплата и доставка
                        li.d-header__navListItem
                            a.d-header__navLink(href='https://www.drapesdesign.com.ua/news') Новости
                    ul.d-header__contacts.d-header__contacts--nav.animated.fadeInUp.faster
                        li.d-header__contactsItem
                            a(href='tel:0939172079') 093 917 20 79
                            a(href='tel:0967174810') 096 717 48 10
