.d-steps
    ul.d-steps__list
        li.d-steps__item
            h5.d-steps__itemTitle Выезд дизайнера
            p.d-steps__itemInfo В предварительно установленные дату и время к Вам приезжает дизайнер для соглосования деталей по заказу и прорисовки эскиза.
            span.d-steps__itemNumber 1
        li.d-steps__item
            h5.d-steps__itemTitle Замеры и прорисовка эскиза
            p.d-steps__itemInfo На месте специалист делает замеры окна, создает дизайн-эскиз модели и подбирает материалы, исходя из дизайна интерьера и пожеланий клиента.
            span.d-steps__itemNumber 2
        li.d-steps__item
            h5.d-steps__itemTitle Просчет стоимости
            p.d-steps__itemInfo Учитывая размер окна, материалы и сложность дизайн-проекта, делаем подсчет стоимости, учитывая акции и скидки.
            span.d-steps__itemNumber 3
        li.d-steps__item
            h5.d-steps__itemTitle Пошив штор
            p.d-steps__itemInfo В течении 3-х рабочих дней швея делает пошив штор по заранее прорисованому эскизу.
            span.d-steps__itemNumber 4
        li.d-steps__item
            h5.d-steps__itemTitle Монтаж готовых изделий
            p.d-steps__itemInfo После завершения работ по пошиву договариваемся о встрече для навеса готовых изделий или отправляем их по указанному адресу с инструкцией для саммостоятельного монтажа.
            span.d-steps__itemNumber 5
