.d-section__content
    h1.d-section__title Портфолио
    h3.d-section__subtitle
        | Ниже представлены примеры работ, выполнены с использованием различных материалов: шифон, кристалон, органза, батист и декораций
    .d-tiles
        ul.d-tiles__list
            - for (let index = 1; index <= 46; index++)
            li.d-tiles__item(class = index >= 29 && 'd-tiles__item--wide')
                div.d-tiles__itemContent
                    button.d-tiles__itemBtn
                        i.fas.fa-search
                    img(data-index=index, src='images/gallery/' + index + '.jpg', alt='Шторы на заказ Drapesdesign')
        .d-preview.js-preview.is-hidden
            .d-preview__nav
                button.d-preview__navBtn.d-preview__navBtn--prev
                button.d-preview__navBtn.d-preview__navBtn--next
            button.d-preview__btn.js-preview-close
            .d-preview__content
                img.d-preview__img(src='#', alt='Preview image')
    // <div class="d-slider">
    // <div class="d-slider__content">
    // <div class="swiper-container">
    // &lt;!&ndash; Additional required wrapper &ndash;&gt;
    // <div class="swiper-wrapper">
    // &lt;!&ndash; Slides &ndash;&gt;
    // <div class="swiper-slide"><img src="images/gallery/1.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/2.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/3.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/4.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/5.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/6.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/7.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/8.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/9.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/10.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/11.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/12.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/13.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/14.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/15.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/16.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/17.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // <div class="swiper-slide"><img src="images/gallery/18.jpg" alt="Шторы на заказ Drapesdesign"></div>
    // </div>
    // &lt;!&ndash; If we need pagination &ndash;&gt;
    // <div class="swiper-pagination"></div>
    // </div>
    // &lt;!&ndash; If we need navigation buttons &ndash;&gt;
    // <div class="swiper-button-prev"></div>
    // <div class="swiper-button-next"></div>
    // </div>
    // </div>
