.d-preview.js-preview.is-hidden
    .d-preview__nav
        button.d-preview__navBtn.d-preview__navBtn--prev
        button.d-preview__navBtn.d-preview__navBtn--next
    button.d-preview__btn.js-preview-close
    .d-preview__content
        img.d-preview__img(src='#', alt='Preview image')
