.d-product
    .d-product__row
        .d-product__col
        .d-product__col
            h1.d-product__title Шторы в фиолетово-розовой расцветке в стиле геометрия
            h2.d-product__description
                | Каждому хочется сделать свой дом уголком покоя, тепла и уюта. Важную роль в этом играет не только интерьер, а и декорация окон.
                | Гардины в золотисто-бежевых и оранжевых тонах, гармонично дополняя друг друга, наполняют пространство необычной жизненной энергией и силой, производят потрясающий эффект. В такой комнате всегда будет много света и солнца.
                | Тёплые и уютные оттенки вызывают жизнерадостные ощущения, позитивное настроение и самочувствие.
                | Мягкое, не контрастное, сочетание золотисто-бежевых волн-полосок на лёгкой органзе вместе с белым шифоном располагают к мечтательной,  загадочной атмосфере, в которой приятно находиться, а декорации-ромбики придают выразительности, экзотичности, изысканности и привлекательности...
            .d-product__Info
                p Характеристики
                dl
                    dt Размер
                    dt 2м х 2м
