.d-sidenav.js-scroll-section.js-side-nav
    ul.d-sidenav__list
        li.d-sidenav__listItem
            a(href='#hero').d-sidenav__link.js-nav-link
        li.d-sidenav__listItem
            a(href='#about-us').d-sidenav__link.js-nav-link
        li.d-sidenav__listItem
            a(href='#before-after').d-sidenav__link.js-nav-link
        li.d-sidenav__listItem
            a(href='#how-it-works').d-sidenav__link.js-nav-link
        li.d-sidenav__listItem
            a(href='#testimonials').d-sidenav__link.js-nav-link
        li.d-sidenav__listItem
            a(href='#contact-form').d-sidenav__link.js-nav-link
        li.d-sidenav__listItem
            a(href='#faq').d-sidenav__link.js-nav-link
        li.d-sidenav__listItem
            a(href='#contacts').d-sidenav__link.js-nav-link

