.d-testimonials.swiper-container
    ul.d-testimonials__list.swiper-wrapper
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/compare/drapes-after.jpg")
            p.d-testimonials__itemText Для меня шторы - особое украшение комнаты, поэтому важно было пощупать ткани, представить как будет выглядеть изделие. Оставила заявку на сайте, и через пару часов уже рисовали эскиз и выбирали ткани у меня в гостинной! Спасибо!
            .d-testimonials__itemName Ирина, Киев
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/compare/drapes-after.jpg")
            p.d-testimonials__itemText Для меня шторы - особое украшение комнаты, поэтому важно было пощупать ткани, представить как будет выглядеть изделие. Оставила заявку на сайте, и через пару часов уже рисовали эскиз и выбирали ткани у меня в гостинной! Спасибо!
            .d-testimonials__itemName Ирина, Киев
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/compare/drapes-after.jpg")
            p.d-testimonials__itemText Для меня шторы - особое украшение комнаты, поэтому важно было пощупать ткани, представить как будет выглядеть изделие. Оставила заявку на сайте, и через пару часов уже рисовали эскиз и выбирали ткани у меня в гостинной! Спасибо!
            .d-testimonials__itemName Ирина, Киев
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/compare/drapes-after.jpg")
            p.d-testimonials__itemText Для меня шторы - особое украшение комнаты, поэтому важно было пощупать ткани, представить как будет выглядеть изделие. Оставила заявку на сайте, и через пару часов уже рисовали эскиз и выбирали ткани у меня в гостинной! Спасибо!
            .d-testimonials__itemName Ирина, Киев
    .swiper-pagination.d-testimonials__pagination
