.d-testimonials.swiper-container
    ul.d-testimonials__list.swiper-wrapper
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/testimonials/client-1.jpg" alt='Client avatar of Drapesdesign')
            p.d-testimonials__itemText У меня свой дом. Менять гардины на окнах не входило в мои планы. Но однажды, побывав у гостях у подруги, я увидела нечто очень необычное и стильное. Связалась с дизайнером Drapesdesidn и сделала сначала один заказ. Моей семье всё понравилось. Это очень круто! Теперь в моём доме каждое окно украшено стильными, по-своему необыкновенно красивыми гардинами. Моя семья вам очень благодарна!
            .d-testimonials__itemName Наталья, Киев
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/testimonials/client-5.jpg" alt='Client avatar of Drapesdesign')
            p.d-testimonials__itemText Після затяжного ремонту квартири часу на пошив гардин не залишилося (закінчилася відпустка). Тому шукала готові і в той же час хотілося чогось новенького і цікавого. Віддала перевагу Drapesdesign, коли на сайті зайшла в їх магазин і зрозуміла: це саме те, що я шукала. Все підійшло, час зекономила, подруги в захваті, а моя квартира - просто казка. Дякую, дякую і ще раз дякую!!!
            .d-testimonials__itemName Олена, Житомир
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/testimonials/client-3.jpg" alt='Client avatar of Drapesdesign')
            p.d-testimonials__itemText Давно хотела поменять гардины на кухне. Так как у меня много цветов на окне, хотелось, чтобы было удобно за ними ухаживать. Мне предложили несколько вариантов, из которых я выбрала короткие, лесенкой, с декорациями. Заказ выполнен быстро и качественно. Девочки, это очень стильно, красиво и удобно! Рекомендую!
            .d-testimonials__itemName Таисия, Киев
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/testimonials/client-2.jpg" alt='Client avatar of Drapesdesign')
            p.d-testimonials__itemText Выбирала гардины в квартиру сыну. Посмотрела много сайтов, остановилась на Drapesdesign и не пожалела. Быстро договорились с дизайнером о снятии размеров, о вариантах каждой модели гардин. Работа выполнена отлично, качественно, в обещанные сроки. Гардины подобраны со вкусом и цена очень хорошая. К тому же, работать с девочками было легко и приятно. Мы довольны. Всем рекомендуем!
            .d-testimonials__itemName Нина, Вышгород
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/testimonials/client-4.jpg" alt='Client avatar of Drapesdesign')
            p.d-testimonials__itemText Сделала ремонт в спальне и старые гардины уже не хотелось вешать обратно. Случайно зашла на сайт Drapesdesign. Очень понравились примеры своей оригинальностью.  Всё обсудили по телефону. Заказ получила по Новой Почте. Мои гардины получились даже лучше, чем я ожидала. В комнате уютно, красиво и необычно. Спасибо большое!
            .d-testimonials__itemName Галина, Бровары
        li.d-testimonials__item.swiper-slide
            img.d-testimonials__itemImg(src="images/testimonials/client-6.jpg" alt='Client avatar of Drapesdesign')
            p.d-testimonials__itemText Якщо ви не знаєте, чим прикрасити невеличке вікно у ванній кімнаті, звертайтеся до Drapesdesign, так як це зробила я. Получилося простенько, оригінально і зі смаком. Думаю, що найближчим часом зроблю замовлення на інші вікна. Спасибі велике!
            .d-testimonials__itemName Людмила, Біла Церква
    .swiper-pagination.d-testimonials__pagination
