.d-row.hide-xs
    .d-row__content
        ul.d-header__contacts
            li.d-header__contactsItem
                a.d-header__contactsItemLink(href='mailto:mydrapesdesign@gmail.com')
                    i.fas.fa-envelope
                    span mydrapesdesign@gmail.com
            li.d-header__contactsItem
                i.fas.fa-mobile-alt
                a(href='tel:0939172079') 093 917 20 79
                span.d-header__contactsDivider
                a(href='tel:0967174810') 096 717 48 10
        .d-socials
            ul.d-socials__list
                li.d-socials__listItem.d-socials__listItem--fb
                    a.d-socials__listItemLink(href='https://www.facebook.com/drapesdesigns/', target='_blank', rel='nofollow')
                        i.fab.fa-facebook
                li.d-socials__listItem.d-socials__listItem--in
                    a.d-socials__listItemLink(href='https://www.instagram.com/drapesdesigns/', target='_blank', rel='nofollow')
                        i.fab.fa-instagram
