doctype html
html(lang='ru-UA')
    head
        meta(charset='UTF-8')
        title️ Шторы под заказ и готовые в Киеве с доставкой по Украине
        link(rel="canonical" href="https://www.drapesdesign.com.ua/portfolio")
        link(rel="alternate" hreflang="ru" href="https://www.drapesdesign.com.ua")
        meta(name='robots', content='index, nofollow')
        meta(property='og:type', content='website')
        meta(property='og:locale', content='ru-UA')
        meta(property='og:site_name', content='drapesdesign.com.ua')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='icon', type='image/x-icon', href='https://www.drapesdesign.com.ua/images/fav.png')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=cyrillic', rel='stylesheet')
        link(rel='stylesheet', href='../styles/styles.css')
        // Global site tag (gtag.js) - Google Analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-183977060-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-183977060-1');
        // Facebook Pixel Code
        script.
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1259970147710795');
            fbq('track', 'PageView');
        noscript
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1259970147710795&ev=PageView&noscript=1')
        // End Facebook Pixel Code
    body#body
        .l-wrapper
            include ../components/topbar
            main
                .d-error
                    h1.d-error__title 404
                    .d-error__text Упс... Запрашиваемая страница не найдена
                    a.d-button.d-button--primary(href='/') На главную
        include ../components/footer
        include ../components/scroll-top
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://kit.fontawesome.com/6d0f4a8850.js', crossorigin='anonymous')
        script(src='../js/script-min.js')
        script.
